{% extends 'base.html' %}
{% block header %}
    <h1>Add New Film</h1>
{% endblock %}
{% block content %}
{% if product %}
    <form method="post">
        <div class="form-group">
            <label>Name</label>
            <input type="text" name="name" value="{{product.name}}"/>
        </div>
        <div class="form-group">
            <label>Type</label>
            <input type="text" name="type" value="{{product.type}}"/>
        </div>
        <div class="form-group">
            <label>Date</label>
            <input type="text"name="date" value="{{product.date}}"/>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
 {% else %}
    <h2>No film with that id found</h2>
 {% endif %}
 
 <style>
    body {
        background-color: #FFB883;
        color: black
    }
</style>

{% endblock %}




