<!doctype html>
<title>Hello from Flask</title>
{% extends 'base.html' %}
{% block header%}
    <h1>Products</h1>
{% endblock%}
{% block content %}
<table class="table">
    <thead>
         <th>id</th>  
         <th>name</th>   
         <th>description</th>
         <th>price</th>   

    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td> {{ product.id }}</td>
            <td> {{ product.name }}</td>
            <td> {{ product.description }}</td>
            <td> {{ product.price }}</td>
            
            <td>
                <a href="#" class="btn btn-success btn-md">
                    <span class="glyphicon glyphicon-pencil"></span> Edit 
                    </a> 
                    <a href="#" class="btn btn-danger btn-md">
                        <span class="glyphicon glyphicon-trash"></span> Delete 
                    </a>                
                                        
                </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% for product in products %}
    <div> {{product.name}} - {{product.description}}</div>  
{% endfor %}





{# jinja #}

{# use for loop to display items in products list #}
{#for each item, display the name and the description in a seperate div #}
